# IDE
.idea/
.vs/
.vscode/
CMakeSettings.json


# Build
build/
dist/
cmake-build-*/
out/
*.dll
*.ilk
*.pdb
*.pyd
*.so*


# Docs
docs/html/


# Test
test/res/
test/Helpers.h


# C
lang/c/sourcepp.kv


# Python
.mypy_cache/
.venv/
__pycache__/
wheelhouse/
*.pyi
*.typed
*.whl

lang/python/CMakeLists.txt
lang/python/pyproject.toml
lang/python/src/sourcepp/__init__.py

lang/python/LICENSE
lang/python/README.md
lang/python/THIRDPARTY_LEGAL_NOTICES.txt
