[submodule "ext/bufferstream"]
	path = ext/bufferstream
	url = https://github.com/craftablescience/BufferStream
[submodule "ext/cryptopp"]
	path = ext/cryptopp
	url = https://github.com/abdes/cryptopp-cmake
[submodule "ext/hat-trie"]
	path = ext/hat-trie
	url = https://github.com/Tessil/hat-trie
[submodule "ext/miniz"]
	path = ext/miniz
	url = https://github.com/richgel999/miniz
[submodule "ext/minizip-ng"]
	path = ext/minizip-ng
	url = https://github.com/craftablescience/minizip-ng
[submodule "ext/qoi"]
	path = ext/qoi
	url = https://github.com/phoboslab/qoi
