[submodule "ext/bufferstream"]
	path = ext/bufferstream
	url = https://github.com/craftablescience/BufferStream
[submodule "ext/cryptopp"]
	path = ext/cryptopp
	url = https://github.com/abdes/cryptopp-cmake
[submodule "ext/gdeflate"]
	path = ext/gdeflate
	url = https://github.com/craftablescience/gdeflate
[submodule "ext/miniz"]
	path = ext/miniz
	url = https://github.com/richgel999/miniz
[submodule "ext/minizip-ng"]
	path = ext/minizip-ng
	url = https://github.com/zlib-ng/minizip-ng
