# IDEs
.idea/
.vs/
.vscode/

# Project exclude paths
cmake-build-*/

# Generated
lang/csharp/vpkpp/vpkpp.csproj
test/Helpers.h

# CSharp
lang/csharp/**/bin
lang/csharp/**/obj
lang/csharp/**/TestResults
lang/csharp/**/*.DotSettings.user
