[submodule "src/thirdparty/bufferstream"]
	path = src/thirdparty/bufferstream
	url = https://github.com/craftablescience/BufferStream
[submodule "src/thirdparty/miniz"]
	path = src/thirdparty/miniz
	url = https://github.com/richgel999/miniz
