/* Fix the search bar getting cut off */

html {
    --top-nav-height: 135px
}

@media screen and (min-width: 768px) {
    #top {
        height: var(--top-nav-height);
    }

    #nav-tree, #side-nav {
        height: calc(100vh - var(--top-nav-height)) !important;
    }

    #side-nav {
        top: var(--top-nav-height);
    }
}


/* Change the color to pink */

body.dark-mode, body.light-mode {
    --primary-color: #e15fcf;
    --primary-dark-color: #e15fcf;
    --primary-light-color: #e15fcf;
}


/* Set tag labels to black instead of white, much more readable */

span.mlabel {
    color: black;
}


/* Hide the nav-sync button, seems useless */

div#nav-sync {
    display: none;
}
